h1 {
    background-color: rgb(233, 70, 64); /* bgc para más rádido*/
    color: rgb(243, 232, 232);
}

/* selectores: etiqueta, id, clase */

p {
    background-color: rgb(233, 156, 56);
    color: rgb(27, 27, 27);
}

#azul, #azulx2 {
    background-color:aqua;
}

.rojo {
    background-color: rgb(212, 47, 47);
    color: white;
}