* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 40px;
}

div {
    background-color: rgb(194, 98, 98);
    padding: 1rem;
    margin: 2rem 0;
}

div p {
    color: aliceblue;
    font-size: 2rem;
    /* transition: 2s; */
    transition-delay: .1;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    transition-property: ;

}

div p:hover{
    font-size: 3rem;
    background-color: rgb(173, 61, 61);
    cursor: pointer;
    padding: 1rem;
}

