@use 'animation';
$primary-color: #333;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #000;
    padding: 1rem;
     
    div {
        h1 {
            background-color: blueviolet;
            color: $primary-color;
            text-align: center;
            font-size: 60px;
            transition: 1s ease;
    
            &:hover {
                cursor: pointer;
                font-size: 80px;
                background-color: rgb(199, 139, 211);
            }
        }
    }
    section {
        .img {
            width: 60%;
            margin: auto;
            display: block;
            animation-name: girar;
            animation-duration: 3s;

        }

        P {
            margin: auto;
            color: #fff;
        }
    }

    .cards {
        padding: 1rem;
        margin: 1rem 0;
        background-color: rgb(124, 115, 115);
        div {
            padding: 1rem;
            font-size: 1.5rem;
            border: 1px dashed 2px;

            &.card {
                font-weight: bold;
                font-size: 1.5rem;
                border: 1px dotted rgb(46, 78, 136);
                &:last-child{
                background-color: rgb(86, 141, 185);
            }
        }

            
        }
    }
}


