

*{
    
    padding: 0;
    margin: 0;
}

h1, p {
    background-color: violet;
    width: 180px;
    box-sizing: border-box;
    
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
   /*  margin: 1rem; */

}

ul {
    display: flex;
    list-style: none;
}
a {
    color: black;
    padding: .5rem 1rem;
    background-color: rgba(190, 148, 230, 0.829);
    display: inline-block;
    border-radius: 8%;
}
nav {
    font-size: 25px;
    font-family: Helvetica;
    background-color: rgb(82, 89, 90);
    color: black;
    padding: 1rem;
    
}

/* ul li {
    display: inline-block;
    
} */

h1 {
    /* display: none; super util*/
    opacity: 0.2;
}

.flex-container {
    display: flex;
    /* flex-direction: row-reverse; */ /* row / coluimn lo pone en colluma o filas*/ 
    /* flex-wrap: nowrap; nowrap por defecto / wrap cuando no cabe hace más filas/ */
   /*  flex-flow: column wrap;  combinación de flex direccion y flex wrap */ 
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    justify-content: center;
}


.flex-container div {
    background-color: rgb(156, 123, 82);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    border: 2px solid black;
}
