
*{
    font-size: 20px;

}

h1 {
    margin: 10px;
    font-size: 2rem;
    border: 5px double blueviolet;
    padding: 100px;
    text-align: center;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 2.5rem;
    width: 50%;
    background-color: rgb(198, 198, 248);    
    border: 10px double blueviolet;
}

h3 {
    font-size: 2rem;
    width: 33.33%;
    background-color: burlywood;
    border-top: 4px dotted blueviolet ;
}


div {
    font-size: 10px;
    background: rgb(136, 66, 66);
    width: 100vw;
    height: 100vh;
}
div h2{
    background-color: bisque;
    font-size: 2.5em;
}

div h3 {
    background-color: bisque;
    font-size: 2em;
}
