@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    list-style: none;
    text-align: center;
}

body {
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
}

section {
    max-width: 375px;
    min-width: 180px;
    margin: 60px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.img {
    height: 50%;
    max-width: 320px;
    min-width: 17;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    font-weight: 900px;
    font-weight: bold;
}


p {
    font-weight: 500px;
    opacity: .6;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    padding: 15px;
}
.annual {
    color: hsl(223, 47%, 23%);
    opacity: 1;
    font-weight: 900px;
}

ul {
    display: flex;
    justify-content: space-around;
}

button {
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700px;
    font-size: 16px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px hsl(223, 47%, 23%) inset;
}

.cancel {
    font-weight: 500px;
    font-weight: bold;
}

@media screen and (min-width: 375px) {
    main {
        min-width: 375px;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .img {
        min-width: 375px;
    }

    .section2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* No se como agregarle el boxshadow xd */