

section {
    background-color: rgb(141, 224, 213);
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 160px 160px;
}

div {
    background-color: rgb(223, 119, 119);
    height: 100px;
    border: 1px solid white;
}